body{
    font-family: Verdana,sans-serif;
    font-size: 15px;
    margin:0;
}

.navbar{
    display: flex;
    padding: 20px;
    height: 20px;
    background-color: rgb(67, 65, 87);
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.nav-right{
    display: flex;
    align-items: center;
    background-color: black;
    padding: 5px;
    border-radius: 20px;
}

.nav-left{
    display: flex;
    align-items: center;
}

.nav-item{
    display: flex;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    color: white;
}

.logo{
    font-size: 30px;
    color: white;
    padding-right: 3vw;
}

@media screen and (max-width: 600px){
    .nav-item{display: none;}
    .nav-right{height : 20px;
    width: 20px;
    border-radius: 0;}
    .post .content{
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgb(184, 184, 184);
    min-height: 100vh;
}

.post{
    background-color: rgb(255, 255, 255);
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    min-height: 0;
    overflow: hidden;
    max-width: 70vw;
}

.post .content{
    font-size: 2vh;
}

.post .title{
    font-size: 3vh;
    margin-bottom: 5px;
    margin-top: 0;
}
